@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Wet+Paint&display=swap");

h1 {
  color: rgb(177, 106, 0);
  font-family: "Rubik Wet Paint";
}

h2 {
  color: rgb(192, 146, 78);
  font-family: "Creepster";
}

body {
  background: rgb(220, 207, 190);
}

.landing {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
